body {
    background-color: silver;
}

h1 {
    background-color: rgb(16, 69, 122);
    color: steelblue;
}

h2 {
    background-color: tan;
    color: teal;
}
#first {
    background-color: turquoise;
    color: violet;
}

#second {
    background-color: wheat;    
    color: yellow;

}
p {
    background-color: yellowgreen;
}
ol {
    background-color: slateblue;
}
#one { 
    color: rgb(192, 130, 192);
}
#two {
    color: rgb(172, 118, 172);
}
#three {
    color:rgb(110, 31, 110)
}
#four {
    color: salmon;
}
#five {
    color: seashell;
}